.container {
  position: absolute;
  top: 30%;
  left: 10px;
  width: 100%;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.todo {
  position: absolute;
  top: 10px;
  right: 50px;
}

.todo li {
  list-style-type: disc;
}
