.Content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Carousel {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.Link {
  position: absolute;
  top: 0;
  right: 20px;
}
