.container {
  position: absolute;
  top: 30%;
  left: 10px;
  width: 100%;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.todo {
  position: absolute;
  top: 10px;
  left: 30%;
}

.todo li {
  list-style-type: disc;
  margin-bottom: 5px;
}

.todo ul ul {
  margin-top: 5px;
  margin-bottom: 20px;
}

.backButton {
  position: absolute;
  top: -100px;
}
