.Banner {
  height: 10vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.Banner .Controls {
  flex: 3;
  display: block;
  margin: 1.5rem 1rem 0 1rem;
}
.Banner .Controls button {
  height: 2.2rem;
  width: 3rem;
  display: inline-block;
  border-radius: 0.4rem;
  margin: auto 0.5rem;
  background: none;
  color: white;
  border: 2.5px solid pink;
  cursor: pointer;
  outline: none;
}
.Banner .VolumeControls button {
  border-color: hotpink;
}
.Banner .VolumeControls button i {
  font-size: 1.5rem;
}
.Banner h1 {
  flex: 4;
  font-size: 8vh;
  line-height: 3vh;
  text-align: center;
  font-family: 'Bungee Outline', cursive;
}
.VolumeControls {
  text-align: right;
}
.VolumeLevel {
  color: hotpink;
  font-size: 2.1em;
  line-height: 1;
  display: inline-block;
  position: relative;
  top: 4px;
}
